:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #171717;
  color: white;
  width: 80%;
  height: 425px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  align-self: center;
  max-width: 500px;
}

input {
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  width: 20%;
  border-radius: 15px;
  border: 1px solid black;
}

.currentHeading {
  font-size: 20px;
}

.currentHeadingContainer {
  margin-bottom: 20px;
}

.conditions {
  display: flex;
  margin-left: 20%;
  gap: 30px;
  align-items: center;
  margin-bottom: 15px;
}

.subConditions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  margin: 0;
}

.location {
  align-self: center;
  margin-top: 40px;
}
.temp {
  width: 100px;
}

.utilCard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(139, 139, 139, 0.2);
  width: 70px;
  border-radius: 8px;
  padding-bottom: 15px;
  box-sizing: border-box;
  align-items: center;
}

.utilities {
  display: flex;

  justify-content: space-around;
}

.currentLocationBtn {
  padding: 20px;
  margin-top: 30px;
  color: white;
  background-color: #171717;
  border: 0;
  border-radius: 8px;
  transition: all 0.25s;
}

.currentLocationBtn:hover {
  scale: 1.1;
}
